:local(.inputbox) {
  display: flex;
  align-items: center;
}

:local(.numberinput) {
  width: 70%;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

:local(.checksame) {
  flex-grow: 1;
  input {
    position: absolute;
    opacity: 0;
    &:checked ~label::after {
      content: '分性别';
    }
  }
  label {
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    &::after {
      content: '不分性别';
    }
  }
}