:local(.item) {
  position: relative;
  margin: 10px 0;
  height: 60px;
  overflow-x: auto;
}

:local(.content) {
  display: flex;
}

:local(.member) {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #ccc;
  flex-shrink: 0;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

