:local(.aside) {
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: 1px solid #ccc;
  background-color: #bbb;
  width: 60vw;
  transform: translateX(-50%);
}

:local(.logo) {
  display: block;
  margin: 30px auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

:local(.ul) {
  border-top: 1px solid #ccc;
  li {
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12) inset;
    span {
      margin-right: 10px;
    }
  }
}