:local(.page) {
  position: relative;
  background-color: #fff;
  min-height: 100vh;
  transition: transform 200ms linear;
}

:local(.slide) {
  transform: translate(60vw);
}

:local(.wrapper) {
  position: relative;
  top: 40px;
  padding: 10px;
}