:local(.page) {
  position: relative;
  top: 40px;
  min-height: calc(100vh - 40px);
  background-color: #fff;
  transition: transform 200ms linear;
}

:local(.slide) {
  transform: translate(60vw);
}

:local(.wrapper) {
  position: relative;
  padding: 10px;
  background-color: #fff;
}

:local(.div) {
  overflow-x: hidden;
  height: 100%;
}