:local(.page) {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  transition: transform 200ms linear;
}

:local(.slide) {
  transform: translate(60vw);
}

:local(.wrapper) {
  position: relative;
  overflow: hidden;
  padding: 40px 10px 10px 10px;
  height: 100%;
  background-color: #fff;
}

:local(.div) {
  overflow: hidden;
  height: 100%;
}