:local(.babel) {
  font-size: 16px;
  margin: 10px 0 15px 0;
  padding-left: 5px;
  color: #aaa;
  &.male {
    border-left: 5px solid #28c7ff;
  }
  &.female {
    border-left: 5px solid #ffacee;
  }
}

:local(.textarea) {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: none;
  -webkit-appearance: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

:local(.button) {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

